/* archivo de estilos */
html{
    background-color: #FFEEEE;
    color: #262626;
}
/*  #13: La barra de navegación debe estar siempre en la parte superior del viewport.  */
header{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #EEEEEE;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #262626;
    margin: 0vh 5vh 10vh 5vh;
}
header > #header-img{
    height: 50px;
    width: auto;
    position: absolute;
    left: 50px;
}
header .nav-link{
    margin: 0px 2vw;
    margin: 0px 2vw;
    color: #262626;
    text-decoration: none;
}
body > #container{
    margin-top: 30px;
    display: grid;
    grid-template-areas:
    "a mision b"
    "c video d"
    "form form form";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10vh;
}
body #mision{
    grid-area: mision;
    text-align: center;
}
#video{
    grid-area: video;
}
form{
    grid-area: form;
    justify-self: center;
}
/*  #14: Mi página de aterrizaje de producto debería tener al menos una media query.  */
/*  #15: Mi página de aterrizaje de producto debería utilizar CSS flexbox al menos una vez.  */
/* Hola */
