/* archivo de estilos */
html{
    background-color: #262626;
    color: #EEEEEE;
    background-image: url(imgs/snowflake-pattern.png);
    background-size: 100px;
}
/*  #13: La barra de navegación debe estar siempre en la parte superior del viewport.  */
header{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #262626;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 3px solid #303030;
    margin: 0vh 7vh 10vh 7vh;
}
header  #header-img{
    height: 50px;
    width: auto;
    position: absolute;
    left: 50px;
}
header .nav-link{
    color: #EEEEEE;
    text-decoration: none;
    padding: 15px;
}
header .nav-link:hover{
    background-color: #303030;
}
body #container-mision{
    margin-top: 30px;
    display: grid;
    grid-template-areas:
    "mision mision tennis-timeline"
    "video video tennis-timeline"
    ". central ."
    "form form form";
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 5vw;
}
body img{
    margin-top: -20px;
}
body #mision{
    grid-area: mision;
    text-align: center;
    margin: 0vh 10vw;
}
/* @media (max-width: 600px){ */
/*     body #mision{ */
/*         margin: 0vh 4vw; */
/*     } */
/* } */
body #video{
    grid-area: video;
    justify-self: center;
    border: 3px solid #303030;
}
body #tennis-timeline{
    grid-area: tennis-timeline;
}
body #central-zone{
    grid-area: central;
    display: flex;
    flex-direction: column;
}
body .central-section{
    display: flex;
    flex-direction: row;
    margin: 10px 0vh;
    align-content: center;
    justify-content: center;
}
body .imgs-central{
    filter: invert(100%);
    height: 60px;
    align-self: center;
    margin: 20px;
}
body #container-form{
    grid-area: form;
}
/* body form{ */
/*     display: flex; */
/*     flex-direction: column; */
/*     color: #EEEEEE; */
/*     background: hsla(0, 15%, 15%, 0.5); */
/*     border-radius: 5px; */
/*     margin: 3vh 10vw; */
/*     text-align: start; */
/*     align-content: center; */
/* } */ 
form #text, #estudios, #comentarios, #datos-adicionales{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
form textarea, input{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 3.5vh;
    background-color: hsla(0,20%,20%,0.5);
    border: black;
    color: #CCCCCC;
}
form select{
    background-color: hsla(0,20%,20%,0.5);
    color: #CCCCCC;
    border: 2px solid #262626;
}
form #submit{
    height: 50px;
    width: auto;
    border: 2px solid green;
    background-color: seagreen;
}
